<!-- handlebars main -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href="https://fonts.googleapis.com/css?family=Anton|Josefin+Sans" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eating Virtual Burgers</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
